body {
    background-image: url("../images/pad.jpg");
    background-size: cover;
    color: aquamarine;
}

.body{
    text-align: center;
    width: 450px;
    background: rgba(255, 0, 0, 0.4);
    padding: 10px;
    font-size: 25px;
    margin: 0 auto;
 }

 button{
     padding: 9px;
     margin-top: 15px;
 }

